@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");

/*              Sass Template           */
/*  global classes  */
button,
button:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* typography classes */
html {
    font-family: "Open Sans", sans-serif;
    color: #333;
    scroll-behavior: smooth;
}

#main-site {
    min-height: 300px;
}

a {
    text-decoration: none;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-20 {
    font-size: 20px;
}

/* Color Template  */
.color-primary {
    color: #2374e1;
}

.color-primary-bg {
    background: #2374e1;
}

.color-second {
    color: #8224e3;
}

.color-second-bg {
    background: #151517;
}

.color-yellow {
    color: #f9bf08;
}

.color-yellow-bg {
    background: #f9bf08;
}

/*  top sale template   */
#top-sale .owl-carousel .item .product a {
    overflow: hidden;
}

#top-sale .owl-carousel .item .product img {
    transition: transform 0.5s ease;
}

#top-sale .owl-carousel .item .product img:hover {
    transform: scale(1.1);
}

#top-sale .owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
}

#top-sale .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

#top-sale .owl-carousel .owl-nav button.owl-prev span,
#top-sale .owl-carousel .owl-nav button.owl-next span {
    font-size: 35px;
    color: #2374e1;
    padding: 0 1rem;
}

#top-sale .owl-carousel .owl-nav button.owl-prev span {
    margin-left: -4rem;
}

#top-sale .owl-carousel .owl-nav button.owl-next {
    right: 0;
}

#top-sale .owl-carousel .owl-nav button.owl-next span {
    margin-right: -4rem;
}

/*   Special Price Section Template */
#special-price .product-filter .product-filter-item {
    margin-right: 1.2rem;
    margin-top: 1rem;
}

/* additional css */

.topnav {
    background-color: #f5f5f5;
}

.scroll-up {
    position: fixed;
    bottom: 90px;
    right: 20px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    z-index: 999;
}

.scroll-up i {
    color: white;
    font-size: 30px;
    padding: 10px;
}

#formSwitch {
    position: fixed;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0 !important;
    border-radius: 5px;
    z-index: 999;
}

#formSwitch i {
    color: white;
    font-size: 30px;
    padding: 10px;
}

#formSwitch label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 !important;
}

#formSwitch input {
    display: none;
}

.logo {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}

.card-title {
    height: 30px;
}

.card-text {
    display: block;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

#banner-area img {
    height: 500px;
    object-fit: cover;
    object-position: top center;
}

#product img {
    width: 546px;
    height: 546px;
    object-fit: cover;
    object-position: center;
}

#footer {
    height: 230px;
}

.copyright {
    height: 38px;
}

.form {
    width: auto;
    color: #333;
}

.form .desc {
    color: #999;
}

.form-submit {
    background-color: #4285f4;
}

.form-submit:hover {
    background-color: #2f80ed;
}

.table-data tr td:first-child input {
    font-weight: bold;
    width: 50px;
}

.table-data td {
    padding: 5px 10px;
}

.text-light input, .text-light button[type="button"] {
    color: #fff;
}

.table-data input,
.table-data select {
    padding: 5px 0px;
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    overflow: hidden;
}

.table-data select {
    width: 100px !important;
    text-align: center;
}

.table-dark input, .table-dark select {
    color: #fff !important;
}

.table-dark option {
    color: #fff;
    background: #333;
}

.preview-image {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.preview-image img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.preview-image input[type="file"] {
    font-size: 14px;
    color: #333;
}
